.container {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas:
        "header"
        "section"
        "aside"
        "footer";
    grid-template-rows: 1fr 10fr 1fr 1fr;
}
@media screen and (min-width: 500px) {
    .container {
        grid-template-areas:
            "header header"
            "aside section"
            "footer footer";
        grid-template-rows: 1fr 6fr 1fr; /*Added rows: 1fr = header; 6fr = aside and section; 1fr = footer */
        grid-template-columns: 1fr 6fr; /*Added columns: 1fr = aside; 6fr = section*/
    }
}
.container > * {
    background-color: saddlebrown;
    font-size: 30px;
    font-family: 'helvetica';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    grid-area: header;
}
aside {
    grid-area: aside;
}
section {
    grid-area: section;
}
footer {
    grid-area: footer;
}
